In [1]:
import os
from sklearn.metrics import r2_score
import glob
from tqdm import tqdm
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
files = list_order_book_file_train = glob.glob('D:/Kaggle/optiver-realized-volatility-prediction/trade_train.parquet/*')

In [3]:
pd.read_parquet(files[0]).groupby('time_id').agg

        time_id  seconds_in_bucket     price  size  order_count
0             5                 21  1.002301   326           12
1             5                 46  1.002778   128            4
2             5                 50  1.002818    55            1
3             5                 57  1.003155   121            5
4             5                 68  1.003646     4            1
...         ...                ...       ...   ...          ...
123438    32767                471  0.998659   200            3
123439    32767                517  0.998515    90            1
123440    32767                523  0.998563     1            1
123441    32767                542  0.998803    90            4
123442    32767                567  0.998547   300            3

[123443 rows x 5 columns]